Repository ballista-compute/ballista, pull requests merged in 2020-07, with the labels that each got.

#174 [Rust] Create data structures for physical plan
  rust/ballista/src/bin/executor.rs
  rust/ballista/src/client.rs
  rust/ballista/src/dataframe.rs
  rust/ballista/src/execution_plan.rs
  rust/ballista/src/lib.rs
  rust/ballista/src/logical_plan.rs
  rust/ballista/src/physical_plan.rs
  rust/ballista/src/serde/from_proto.rs
  rust/ballista/src/serde/mod.rs
  rust/ballista/src/serde/to_proto.rs
Labels: rust

#179 Implement basic scheduler to create Job (DAG of stages) from a physical query plan
  proto/ballista.proto
  rust/Cargo.lock
  rust/Cargo.toml
  rust/ballista/proto/ballista.proto
  rust/ballista/src/bin/executor.rs
  rust/ballista/src/execution/filter.rs
  rust/ballista/src/execution/parquet_scan.rs
  rust/ballista/src/execution/physical_plan.rs
  rust/ballista/src/execution/projection.rs
  rust/ballista/src/execution/scheduler.rs
  rust/ballista/src/execution/shuffle_exchange.rs
  rust/ballista/src/execution/shuffle_reader.rs
  rust/ballista/src/execution/shuffled_hash_join.rs
  rust/examples/distributed-query/Cargo.toml
  rust/examples/distributed-query/README.md
  rust/examples/distributed-query/src/main.rs
Labels: rust

#219 [Rust] Improve etcd support
  rust/ballista/src/bin/executor.rs
  rust/ballista/src/distributed/etcd.rs
  rust/ballista/src/distributed/executor.rs
  rust/ballista/src/distributed/k8s.rs
  rust/ballista/src/distributed/mod.rs
  rust/ballista/src/execution/physical_plan.rs
  rust/benchmarks/src/main.rs
  rust/examples/distributed-query/README.md
Labels: rust

#227 Fix Rust integration tests
  rust/ballista/src/distributed/scheduler.rs
Labels: rust

#240 [Rust] Misc items needed to support TPCH query 1
  dev/build-rust-base.sh
  dev/build-rust.sh
  docker/rust-cached-deps.dockerfile
  docker/rust-executor.dockerfile
  rust/ballista/src/dataframe.rs
  rust/ballista/src/execution/expressions/alias.rs
  rust/ballista/src/execution/expressions/comparison.rs
  rust/ballista/src/execution/expressions/mod.rs
  rust/ballista/src/execution/physical_plan.rs
  rust/ballista/tests/query_execution.rs
Labels: rust

#255 [Rust] Fix partitioning bug in filter exec
  rust/ballista/src/execution/operators/filter.rs
  rust/examples/tpch/src/main.rs
  spark/benchmarks/src/main/scala/org/ballistacompute/spark/benchmarks/Tpch.scala
Labels: rust

#266 [WIP] Run Spark TPCH benchmark in Kubernetes
  kubernetes/rbac.yaml
  spark/benchmarks/Dockerfile
  spark/benchmarks/README.md
  spark/benchmarks/pod-template.yaml
  spark/benchmarks/run-tpch-k8s.sh
  spark/benchmarks/src/main/scala/org/ballistacompute/spark/benchmarks/Main.scala
  spark/benchmarks/src/main/scala/org/ballistacompute/spark/benchmarks/nyctaxi/Benchmarks.scala
  spark/benchmarks/src/main/scala/org/ballistacompute/spark/benchmarks/nyctaxi/NYCTaxi.scala
  spark/benchmarks/src/main/scala/org/ballistacompute/spark/benchmarks/tpch/Tpch.scala
Labels: benchmarks, spark

#294 [Rust] Refactor of scheduler and executor
  rust/ballista/src/bin/executor.rs
  rust/ballista/src/distributed/context.rs
  rust/ballista/src/distributed/executor.rs
  rust/ballista/src/distributed/flight_service.rs
  rust/ballista/src/distributed/mod.rs
  rust/ballista/src/distributed/scheduler.rs
  rust/ballista/tests/query_execution.rs
Labels: rust

#270 add Action interface to kotlin executor
  jvm/datatypes/src/main/kotlin/ShuffleId.kt
  jvm/datatypes/src/main/kotlin/ShuffleLocation.kt
  jvm/physical-plan/src/main/kotlin/Action.kt
  jvm/physical-plan/src/main/kotlin/Task.kt
  jvm/protobuf/build.gradle.kts
  jvm/protobuf/src/main/kotlin/ProtobufDeserializer.kt
  jvm/protobuf/src/main/kotlin/ProtobufSerializer.kt
Labels: jvm
